EventmanagementSystem/force-app/main/default/flows/Clone_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Volunteer_Event_Lookups</name>
        <label>Assign Volunteer Event Lookups</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Temp_Volunteer_Event_Record.Volunteer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Volunteers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Volunteer_Event_Record.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Clone_Of_Event_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Volunteer_Events_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Volunteer_Event_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_The_Temp_Volunteer_Event_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>358</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>newChildEvent.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Throught_the_selected_Child_Events.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChildEvent.Parent_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Clone_Of_Event_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChildEvent.Dependent_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Throught_the_selected_Child_Events.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChildEventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newChildEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Throught_the_selected_Child_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Events_Ids</name>
        <label>Populate Child Events Ids</label>
        <locationX>358</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>ChildDependentEventsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Child_Dependents_Events.Dependent_Event__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Child_Dependents_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_The_Temp_Volunteer_Event_Values</name>
        <label>Remove The Temp Volunteer Event Values</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Temp_Volunteer_Event_Record.Volunteer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Volunteer_Event_Record.Event__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_The_Selected_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VolunteerEventRecordsIds</name>
        <label>VolunteerEventRecordsIds</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VolunteerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Volunteer_Events.Volunteer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Volunteer_Events</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Volunteer_or_Event_Check</name>
        <label>Volunteer or Event Check</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Invalid response</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Assign_Volunteers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id</targetReference>
            </connector>
            <label>Volunteer Check</label>
        </rules>
        <rules>
            <name>Child_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Related_Child_Events</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Dependents</targetReference>
            </connector>
            <label>Child Event</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClonedEventName</name>
        <dataType>String</dataType>
        <expression>{!Get_Event_Record.Name} + &apos; Clone&apos;</expression>
    </formulas>
    <interviewLabel>Clone Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Event</label>
    <loops>
        <name>Loop_On_Child_Dependents_Events</name>
        <label>Loop On Child Dependents Events</label>
        <locationX>270</locationX>
        <locationY>2006</locationY>
        <collectionReference>Get_Child_Dependents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Child_Events_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Volunteer_Events</name>
        <label>Loop On Volunteer Events</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Volunteers_Event_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VolunteerEventRecordsIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Volunteer_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_The_Selected_Volunteers</name>
        <label>Loop Through The Selected Volunteers</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>VolunteersToSelect.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Volunteer_Event_Lookups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Volunteer_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Throught_the_selected_Child_Events</name>
        <label>Loop Throught the selected Child Events</label>
        <locationX>270</locationX>
        <locationY>2522</locationY>
        <collectionReference>SelectChildEvents.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Event_Dependencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Event_Dependencies</name>
        <label>Create Child Event Dependencies</label>
        <locationX>270</locationX>
        <locationY>2822</locationY>
        <inputReference>newChildEventList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Volunteer_Events</name>
        <label>Create Volunteer Events</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Get_Child_Dependents</targetReference>
        </connector>
        <inputReference>Volunteer_Events_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Clone_Of_Event_Record</name>
        <label>Insert Clone Of Event Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Volunteers_Event_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>Get_Event_Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chapter__c</field>
            <value>
                <elementReference>Get_Event_Record.Chapter__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Get_Event_Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraising_Goal__c</field>
            <value>
                <elementReference>Get_Event_Record.Fundraising_Goal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Event_Record.Name} Clone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_Event_Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Dependents</name>
        <label>Get Child Dependents</label>
        <locationX>270</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Child_Dependents_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Dependencies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Events</name>
        <label>Get Child Events</label>
        <locationX>270</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Child_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ChildDependentEventsIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Record</name>
        <label>Get Event Record</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Volunteer_or_Event_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Clone_Of_Event_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Records</name>
        <label>Get Volunteer Records</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VolunteersToChoose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>VolunteerIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteers_Event_Records</name>
        <label>Get Volunteers Event Records</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Volunteer_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Child_Events</name>
        <label>Choose Child Events</label>
        <locationX>270</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Throught_the_selected_Child_Events</targetReference>
        </connector>
        <fields>
            <name>SelectChildEvents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Child Events</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Child_Events</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-24a4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Event Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Chapter__c&quot;,&quot;guid&quot;:&quot;column-4041&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Chapter&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-8b75&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_Event_Options</name>
        <label>Clone Event Options</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Event_Record</targetReference>
        </connector>
        <fields>
            <name>Clone_Assign_Volunteers</name>
            <dataType>Boolean</dataType>
            <fieldText>Clone Assign Volunteers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clone_Related_Child_Events</name>
            <dataType>Boolean</dataType>
            <fieldText>Clone Related Child Events</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VolunteersToChoose</name>
        <label>Volunteers To Choose</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_The_Selected_Volunteers</targetReference>
        </connector>
        <fields>
            <name>VolunteersToSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Volunteer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Volunteers To Select</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Volunteer_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-be9f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Volunteer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-c10e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Event_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildDependentEventsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newChildEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Dependencies__c</objectType>
    </variables>
    <variables>
        <name>newChildEventList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Dependencies__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a08WU00000HiQLBYA3</stringValue>
        </value>
    </variables>
    <variables>
        <name>Temp_Volunteer_Event_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Event__c</objectType>
    </variables>
    <variables>
        <name>Volunteer_Events_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Event__c</objectType>
    </variables>
    <variables>
        <name>VolunteerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
